body
{
    padding: 0;
    margin: 0;
    background: #020202;
    color: white;
}

body, div, section, p, li, td, h1, h2, h3, h4, h5, h6
{
    font-family: 'Open Sans', sans-serif;
}



#thumbnails
{
    position: relative;
}
#thumbnails div
{
    float: left;
}
#thumbnails div:hover
{
    cursor: pointer;
}

#thumbnails div
{
    width: 100px;
    height: 100px;
    overflow: hidden;
}


#thumbnails img
{
    width: 100px;
}

#thumbnails div h3
{
    font-size: .8rem;
    font-weight: bold;
    padding: .25em;
    background: lightgray;
    position: absolute;
    margin-top: 0;
    color: black;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#thumbnails div:hover h3
{
    opacity: 1;
}




#thumbnails div:hover img
{

    opacity: .5;
    transition: opacity .25s ease-in-out;
}


#thumbnails div img 
{
    opacity: 1; 
}


#detail
{
    margin-bottom: 1em;
}

#detail img { max-width: 100%; }

#detail figure
{
    margin: 0;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

#detail figure.fade
{
    opacity: 0;
}