body
{
    padding: 0;
    margin: 0;
}

#thumbnails
{
    margin: 0 auto;
    width: 800px;
}

#thumbnails div
{
    float: left;
}

#thumbnails img, #thumbnails div
{
    width: 100px;
}

#detail img { width: 400px; }